
body{
    font: 20px arial sans-serif;
}
.navbar {
background-color:#AEB1BB ;
}

.quem-somos {
    background-color:cadetblue;
}

.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}

.parceiros {
    background-color:#AEB1BB ;
}

.bj-footer {
    background-color: black;
    color: white;
}